
/* Extra Web Font Weight Declarations */
@font-face {
    font-family: 'AvalonLight';
    src: url('https://images2.drct2u.com/repo/FSP/desktop/common/03-fonts/Avalon-XLight-webfont.eot');
    src: url('https://images2.drct2u.com/repo/FSP/desktop/common/03-fonts/Avalon-XLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://images2.drct2u.com/repo/FSP/desktop/common/03-fonts/Avalon-XLight-webfont.woff') format('woff'),
         url('https://images2.drct2u.com/repo/FSP/desktop/common/03-fonts/Avalon-XLight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvalonBook';
    src: url('https://images2.drct2u.com/repo/FSP/desktop/common/03-fonts/Avalon-Book-webfont.eot');
    src: url('https://images2.drct2u.com/repo/FSP/desktop/common/03-fonts/Avalon-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://images2.drct2u.com/repo/FSP/desktop/common/03-fonts/Avalon-Book-webfont.woff') format('woff'),
         url('https://images2.drct2u.com/repo/FSP/desktop/common/03-fonts/Avalon-Book-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvalonDemi';
    src: url('https://images2.drct2u.com/repo/FSP/desktop/common/03-fonts/Avalon-Demi-webfont.eot');
    src: url('https://images2.drct2u.com/repo/FSP/desktop/common/03-fonts/Avalon-Demi-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://images2.drct2u.com/repo/FSP/desktop/common/03-fonts/Avalon-Demi-webfont.woff') format('woff'),
         url('https://images2.drct2u.com/repo/FSP/desktop/common/03-fonts/Avalon-Demi-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#FreeFormatPage {
  width: 130%;
  max-width: 1280px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.hide{ display:none;}

@media only screen and (max-width : 1024px) {
#FreeFormatPage{
  width: 100%;
  margin: 0
}
}
#FreeFormatPage a{
  text-decoration:none;
  color:#222;
}
/*-------------------------------------
INTRO
--------------------------------------*/

#FreeFormatPage header {
width:100%;
text-align:center;
}



#FreeFormatPage header .Button{
  display: block;
  padding: 2em 5em;
  font: 0.8em/1em AvalonDemi,Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 0.3em; 
}
#FreeFormatPage header h1 {
font:3em/1em AvalonBook,Arial,Helvetica,sans-serif;
text-transform:uppercase;
color:#222;
padding:20px 0;
width:100%;
letter-spacing:0.1em;
text-align: left;
}
#FreeFormatPage header h1 span{ color: #222}
#FreeFormatPage header h1 span.Text1 {
display:block;
font:0.5em/0.8em AvalonBook,Arial,Helvetica,sans-serif;
}
#FreeFormatPage header h1 span.Text2 {
display:block;
font:1.7em/0.9em AvalonDemi,Arial,Helvetica,sans-serif;
}
#FreeFormatPage header h1 span.Text3 {
display:block;
font:0.6em/0.8em AvalonBook,Arial,Helvetica,sans-serif;
}


#FreeFormatPage section.Trend {
margin:10px 0;
position:relative;
padding:0;
width:100%;
float:left
}

#FreeFormatPage section.Trend .TextArea {
width:750px;
position:relative;
z-index:3
}

#FreeFormatPage section.Trend .Copy {
position:relative;
text-align:center;
z-index:3;
margin:0 auto;
width: 100%;
padding:0.6em 0;
}

#FreeFormatPage section.Trend .Copy h2 {
font:1.9em/1em AvalonDemi,Arial,Helvetica,sans-serif;
text-transform:uppercase;
margin:0;
padding:0;
letter-spacing:0.1em;
color:#222;
text-align:center;
}

#FreeFormatPage section.Trend .Copy h3 {
font:2em/1em AvalonBook,Arial,Helvetica,sans-serif;
margin:0;
padding:0
}

#FreeFormatPage section.Trend .Copy p {
font:13px/16px AvalonBook,Arial,Helvetica,sans-serif;
padding:13px 0 32px
}

#FreeFormatPage section.Trend span {
text-align:center;
margin:0 auto;
font:0.8em/1em AvalonDemi,Arial,Helvetica,sans-serif;
text-transform:uppercase;
display:block;
padding:10px 0 0 0;
letter-spacing:0.3em;
}

#FreeFormatPage section.Trend .Lifestyle {
display:block;
width:100%;
}

#FreeFormatPage section.Trend .Lifestyle.Box {
display:block;
width:100%;
}

/*----------------------------------
SMALL BOX
------------------------------------*/
#FreeFormatPage section.Trend.SmallBox{ width: 100%; padding: 0;}
#FreeFormatPage section.Trend.SmallBox .Lifestyle{ 
 float: left; 
 position: relative;
}
/*----------------------------------
BIG BOX
------------------------------------*/
#FreeFormatPage section.Trend.BigBox{ width: 100%;}
#FreeFormatPage section.Trend.BigBox .Lifestyle{  float: left; }
/*----------------------------------
FULLWIDTH BOX
------------------------------------*/
#FreeFormatPage section.Trend.FullWidth{ width: 100%; position: relative;}

/*--------------------------------------------------
DESKTOP QUERIES -  
---------------------------------------------------*/

@media only screen and (min-width : 640px) {
#FreeFormatPage header{
  margin-top: 3em;
}
#FreeFormatPage header h1{ 
position: absolute;
left: 4%;
background: #FFF;
padding:53px;
width: auto; 
margin: 0; 
}
#FreeFormatPage header h1 span.Text1{ 
  border-bottom: 1px solid #000; 
}

#FreeFormatPage header .MainImage {
display: block;
margin-bottom: 2em;
}
/*--------------------------------------------------
trend sections for desktop
---------------------------------------------------*/
#FreeFormatPage section.Trend{
  min-height: 600px;

}

#FreeFormatPage section.Trend .Lifestyle.Box img.Image1{
  position: absolute;
  right: 0;
  top: 0;
}

#FreeFormatPage section.Trend .Lifestyle.Box img.Image2{
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
}

#FreeFormatPage section.Trend .Lifestyle.Box img.Image4{
  position: absolute;
  top: 0;
  left: 0;
}
#FreeFormatPage section.Trend .Lifestyle.Box img.Image5{
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 1;
}

#FreeFormatPage section.Trend.Right .Copy{
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 541px;
}
#FreeFormatPage section.Trend.Left .Copy{
  position: absolute;
  bottom: 35px;
  right: 0;
  width: 541px;
  margin: 0;
}
#FreeFormatPage section.Trend .Copy.FullWidth{
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
}
#FreeFormatPage section.Trend .Copy.FullWidth h2{
  font: 1.9em/1em AvalonBook,Arial,Helvetica,sans-serif;
}

#FreeFormatPage section.Trend .Copy.FullWidth h2 strong{
  display: block;
  font: 2.5em/1em AvalonDemi,Arial,Helvetica,sans-serif;
}

}



/*--------------------------------------------------
MEDIA QUERIES - Mobile Styles
---------------------------------------------------*/
@media only screen and (max-width: 640px) {

#FreeFormatPage img{
  width: 100%; margin: 0;
}

#FreeFormatPage {font-size:100%!important}
}
@media only screen and (max-width: 480px) {
#FreeFormatPage { font-size: 120% !important;}
}
@media only screen and (max-width: 360px) {
#FreeFormatPage { font-size: 110% !important;}
}
@media only screen and (max-width: 320px) {
#FreeFormatPage { font-size: 100% !important;}
}
/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Fade */
.hvr-fade {
  background: #f36186;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #222;
  color: white;
}
