/*-----------------------------
MOBILE FONT SIZE TRICK
-------------------------------*/
#FF-container {font-size: 100% !important;}

@media only screen and (max-width: 768px) {/*iPad Portait*/
#FF-container {font-size: 130% !important;}
}
@media only screen and (max-width: 736px) {/*iPhone 6 Plus Landscape*/
#FF-container {font-size: 130% !important;}
}
@media only screen and (max-width: 667px) {/*iPhone 6 Landscape*/
#FF-container {font-size: 100% !important;}
}
@media only screen and (max-width: 568px) {/*iPhone 5 Plus Landscape*/
#FF-container {font-size: 100% !important;}
}
@media only screen and (max-width: 414px) {/*iPhone 6 Plus Portrait*/
#FF-container {font-size: 90% !important;}
}
@media only screen and (max-width: 375px) {/*iPhone 6 Portrait*/
#FF-container {font-size: 80% !important;}
}
@media only screen and (max-width: 320px) {/*iPhone 5 Portrait*/
#FF-container {font-size: 60% !important;}
}